/* MiddlePart.css */

.scroll-hide-scrollbar {
    height: 600px; /* Adjust the maximum height as needed */
    overflow-y: auto;
    scrollbar-width: none; /* Hide the scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide the scrollbar for IE and Edge */
}

.scroll-hide-scrollbar::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for Chrome, Safari, and Opera */
}
